@font-face {font-family: "Poor Richard"; src: url("//db.onlinewebfonts.com/t/1333b13c4f911f3160f1c2822573f70c.eot");
    src: url("//db.onlinewebfonts.com/t/1333b13c4f911f3160f1c2822573f70c.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/1333b13c4f911f3160f1c2822573f70c.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/1333b13c4f911f3160f1c2822573f70c.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/1333b13c4f911f3160f1c2822573f70c.ttf") format("truetype"), format("svg"); }


.block {
    background-color: #333333;
    padding: 0%;
}

.rdSize {
    height: 2rem;
    width: 2rem;
    padding: 0% ;
    margin:0%;
    align-content: space-between;
    margin-bottom: 12px;
}    
.title {
    font-family: poor Richard, Georgia, 'Times New Roman', Times, serif;
    }

.overlay {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: wheat;
    margin-top: 3rem;
}
