@import url('http://fonts.cdnfonts.com/css/eras-demi-itc');


.block {
    background-color: #333333;
    padding: 0%;
}

.rdSize {
    height: 2rem;
    width: 2rem;
    padding: 0% ;
    margin:0%;
    align-content: space-between;
    margin-bottom: 12px;
}    
.title {
    font-family: 'Eras Demi ITC', sans-serif;
    font-size: 2rem;
    color: #333333
    }

.overlay {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: wheat;
    margin-top: 3rem;
}
